<suite name="Suite-3" verbose="1">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="all-packages" parallel="methods" >
        <classes>
            <class name="CarouselTest"/>
            <class name="CanvasTest"/>
            <class name="CommentTest"/>
            <class name="InstagramTest"/>
            <class name="ChallengeTest"/>
            <class name="EditorScreenTest"/>
            <class name="HashtagTest"/>
            <class name="ProductsTest"/>
            <class name="SearchTest"/>
        </classes>

    </test>
</suite>